*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Garamond, serif;
  background-color: #ffffff;
  color: #353535;
}

.menu-card {
  border: 3px dotted #e07a5f;
  width: 500px;
  margin: 18px auto 0;
}

.heading-main {
  font-size: 36px;
  text-align: center;
  margin: 24px 0;
}

.heading-section {
  font-size: 24px;
  margin: 16px 34px;
}

a {
  color: #083d77;
  font-size: 20px;
}

.menu-link {
  display: block;
  margin: 10px 54px;
}

.menu-link:last-of-type {
  margin-bottom: 34px;
}

.heading {
  font-weight: 700;
  font-style: italic;
}

.heading.title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.recipe-photo {
  height: 400px;
  width: auto;
}

.menu {
  text-align: center;
  color: transparent;
}