*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Garamond, serif;
  color: #353535;
}

.menu-card {
  margin: 18px auto 0;
  width: 600px;
  border: 3px dotted #e07a5f;
}

.title {
  margin: 24px 0;
  font-size: 48px;
  text-align: center;
}

.heading-2 {
  margin: 16px 32px;
  font-size: 32px;
}

.heading-3 {
  margin: 16px 32px;
  font-size: 26px;
}

a {
  color: #083d77;
  font-size: 24px;
}

.menu-link {
  display: block;
  margin: 10px 58px;
}

.menu-link:last-of-type {
  margin-bottom: 32px;
}

.recipe-card {
  margin: 18px auto 0;
  width: 900px;
  border: 3px dotted #e07a5f;
}

.recipe-photo {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 50%;
  border: 1px solid #e07a5f;
}

.text {
  font-size: 22px;
  text-align: justify;
  margin: 0 48px;
}

.text.desc {
  margin: 32px;
}

.list {
  margin: 0 48px 0 28px;
  font-size: 22px;
}

.justified {
  text-align: justify;
}

.return-link {
  display: block;
  text-align: center;
  margin: 32px auto;
}